.layout {
  background-color: #f4f5f6;
  min-height: 100vh;
  padding-top: 56px;
  .header {
    background-color: #fff;
    height: 56px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    .headerContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
    .logo {
      // color: #ccc;
      width: 20%;
      .logoTitle {
        padding: 10px 20px;
        font-size: 1.4rem;
        font-weight: bold;
        border-radius: 4px;
      }
    }
    .nav {
      display: flex;
      width: 60%;
      height: 100%;
      justify-content: center;
      .navLink {
        margin-left: 1rem;
        padding-left: 26px;
        padding-right: 26px;
        &:hover {
          background-color: #f4f5f6;
        }
      }
      .activeNavLink {
        background-color: #f0f0f0;
      }
    }
    .headerRight {
      width: 20%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
