.container {
  display: flex;
  padding: 0 36px;
  .content {
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
  }
  .asideContainer {
    max-width: 320px;
    min-width: 280px;
    // overflow: hidden;
    box-sizing: border-box;
    margin-left: 24px;
  }
}

